* {
    font-family: sans-serif;
}

#wrapper {
    width: 80vw;
    height: 70vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.horizontal {
    list-style-type: none;
    width: 80vw;
    height: 56vh;
    padding: 0;
}

.horizontal li {
    float: right;

    outline-style: solid;
    outline-color: black;
    outline-width: 1px;

    overflow: auto;
}

#top-boxes li {
    width: 34vw;
    height: 50vh;
    margin: 1vh 1vw 1vh 1vw;
    padding: 2vh 2vw 2vh 2vw;
    font-size: 2vh;
}

#bottom-boxes li {
    height: 8vh;
    margin: 1vh 1vw 1vh 1vw;
    font-size: 2vh;
}

#translate {
    width: 34vw;
    padding: 2vh 2vw 2vh 2vw;
}

#buttonControls {
    width: 38vw;
    padding: 2vh 0vw 2vh 0vw;
    outline-style: none;
    text-align: center;
}

#buttonControls button {
    width: 12vw;
    height: 8vh;
    font-size: 3vh;
}

#languageControls {
    margin-top: 2vh;
    text-align: center;
}

#languageControls button {
}
