* {
    font-family: sans-serif;
}

#wrapper {
    width: 80vw;
    height: 70vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.horizontal {
    list-style-type: none;
    width: 80vw;
    height: 56vh;
    padding: 0;
}

.horizontal li {
    float: right;
    width: 34vw;
    height: 50vh;
    margin: 1vh 1vw 1vh 1vw;
    padding: 2vh 2vw 2vh 2vw;
    font-size: 2vh;

    outline-style: solid;
    outline-color: black;
    outline-width: 1px;

    overflow: auto;
}

#translate {
    width: 74vw;
    height: 8vh;
    margin: 1vh 1vw 1vh 1vw;
    padding: 2vh 2vw 2vh 2vw;
    font-size: 2vh;

    outline-style: solid;
    outline-color: black;
    outline-width: 1px;

    overflow: auto;
}

#controls {
    margin-top: 2vh;
    text-align: center;
}

#controls button {
    width: 10vw;
    height: 6vh;
    font-size: 3vh;
}
